.header-section {
    background-image: url(/imgs/banner/banner.png);
    background-repeat: no-repeat;
    height: 700px;
}

.header-title {
    font-weight: 700;
    font-size: 80px;
    text-align: right;
    padding-top: 150px;
    padding-right: 150px;
    color: white;
}

.header-subtitle {
    color: white;
    text-align: right;
    padding-right: 150px;
}

.button-contact {
    height: 64px;
    border-radius: 5px;
    background-color: white;
    color: rgb(23, 135, 232);
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 36px;
    float: right;
    margin-right: 150px;
    margin-top: 20px;
}

.failure-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.failure-img {
    padding-right: 50px;
}

.fail-description {
    padding-left: 50px;
}

.fail-title {
    text-align: left;
    font-size: 50px;
    font-weight: 700;
}

.fail-subtitle {
    text-align: left;
    font-size: 20px;
}

.fail-points li {
    text-align: left;
    font-size: 20px;
    padding: 5px;
}

/* Plans Styles */
.plans-title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    padding-top: 50px;
}

.plan-row {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-left: 300px;
    padding-right: 700px;
    padding-bottom: 50px;
}

.plan {
    align-items: center;
    margin: 50px;
    /* padding-left: 80px; */

}

.plan img {
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.plan h3,
p {
    text-align: center;
}

.plan-title {
    font-weight: 600;
    font-size: 30px;
}

.plan-subtitle {
    font-weight: 600;
    font-size: 20px;
}

/* Bonus part css */
.button-call{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    color: rgb(23, 135, 232);
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 36px;
    float: left;
    margin-right: 150px;
    margin-top: 20px;
}
.bonus-section{
    height: 250px;
    width: 400px;
    background-image: url(/imgs/watch.png),url(/imgs/gradient.png);
    align-items: center;
    padding-right: 600px;
    margin-left: 300px;
    background-blend-mode:darken;
    margin-bottom: 50px;
}
.bonus-section button{
    text-align: left;
    margin-left: 50px;
}
.bonus-title{
    font-weight: 700;
    font-size: 30px;
    text-align: left;
    color: white;
    padding-top: 50px;
    padding-left: 50px;
}

/* Footer Styles */

.future-footer a{
    text-decoration: none;
    text-align: left;
    padding-top: 30px;
    padding-left: 30px
}
.future-footer h1{
    color: white;
    font-weight: 700;
    font-size: 30px;
    text-align: left;
    padding-top: 30px;
    padding-left: 30px;
}
.subscribe-title{
    color: white;
    font-weight: 700;
    font-size: 30px;
}

.future-footer p,h6{
    color: white;
    text-align: left;
    padding-top: 30px;
    padding-left: 30px;
    font-size: 20px;
}

.subscribe-btn{
    height: 64px;
    border-radius: 5px;
    background-color:rgb(23, 135, 232);
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 36px;
    float: left;
    margin-right: 150px;
    margin-top: 20px;
}
#email{
    height: 50px;
    width: 300px;
    border: 5px solid rgb(23, 135, 232);
    border-radius: 5px;
}

.footer-section{
    padding: 100px 100px;
    background-color: black;
    display: flex;
    justify-content: space-around;
}